@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
    list-style: none;
    text-decoration: none;
}

.container{
    height: 100vh;
    background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center / cover no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputFields, .output{
    padding: 5rem 4rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    
    border: 1px solid rgba(255, 255, 255, .25);
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.inputFields input, .inputFields select{
    margin-bottom: 1.2rem;
    padding: .6rem 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
}

button{
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    background: rgb(0,123,255);
    color: #FFFFFF;
}

.output{
    margin-left: 5rem;
}

.afterConversion, .afterConversion span{
    font-size: 1.15rem;
    font-weight: 500;
}